:root {
	--brand-color: #4d5ae5;
	--secondary-color: #2e2f42;
	--success-color: #31d0aa;
	--maintext-color: #434455;
	--helpertext-color: #8e8f99;
	--accent-color: #e7e9fc;
	--background-color: #f4f4fd;
}
* {
	text-decoration: none;
	list-style: none;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Roboto", Segoe UI, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	font-style: normal;
	color: var(--brand-color);
}

/* Logo */
.logo {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.3;
	text-transform: uppercase;
}
.part-logo {
	color: var(--secondary-color);
}
/* Navigation */
.navigation-list {
	color: var(--secondary-color);
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.navigation {
	color: var(--secondary-color);
}

.navigation:hover,
.navigation:focus {
	color: var(--maintext-color);
}
.navigation:active {
	color: var(--brand-color);
}

.contact-item {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: var(--maintext-color);
	letter-spacing: 0.02em;
}
.contact-item:hover,
.contact-item:focus {
	color: inherit;
}
.contact-item:active {
	color: var(--brand-color);
}

/* Hero */
.hero-section {
	width: 1440px;
	height: 603px;
	background-color: var(--secondary-color);
}
.hero {
	font-style: normal;
	font-weight: 600;
	font-size: 56px;
	line-height: 1;
	letter-spacing: 0.02em;
	color: #ffffff;
}

/* Order button */
.order-button {
	border: none;
	background-color: var(--brand-color);
	color: #fff;
	cursor: pointer;
}

.order-button:active {
	background-color: #404bbf;
	color: #fff;
}
/* Advantages */
.advantages-item {
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	color: var(--secondary-color);
}
.advantages-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--maintext-color);
}
h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 1.1;
	color: var(--secondary-color);
	letter-spacing: 0.02em;
}
/* Team */
.worker {
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--secondary-color);
}
.position {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--maintext-color);
}

/* Footer */

/* Logo */
.webstudio {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.3;
	text-transform: uppercase;
	color: inherit;
}
.footer-studio {
	color: var(--background-color);
}

.footer {
	width: 1440px;
	height: 310px;
	background-color: var(--secondary-color);
}

.footer-description {
	font-size: 16px;
	line-height: 1.5;
	color: #e7e9fc;
	width: 264px;
	height: 72px;
	left: 156px;
	top: 2421px;
}

/* Profile page */

/* Filters */

.button {
	border: 1px solid #e7e9fc;
	background-color: var(--background-color);
	color: inherit;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	cursor: pointer;
}
.button:hover,
.button:focus {
	color: #fff;
	background-color: #4d5ae5;
}

/* Options */
.options-item {
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--secondary-color);
}
.options-type {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--maintext-color);
}
